section{
    color:white;
   
}

#home{
    background-image: url("./src/pages/HomePage/homesection/images/aflem.jpg");
    height: 450px;
    padding-right:50px; ;
    border-color: white;
    border-width:5px ;
    border-style:solid;
    margin-left: 30px;
    margin-right: 30px;
    
    margin-top: 100px;
    
    text-align: center;
    z-index: -1;
    top:100px;
    
    
}


.box-container {
    display: flex; /* Utiliser flexbox pour aligner les boîtes en ligne */
    justify-content: space-around; /* Espacer les boîtes uniformément */
    margin-top: 200px; /* Espacement supérieur */
}

/* Style pour chaque boîte */
.box {
     /* Dégradé de bleu à noir */
    border: 1px solid #ddd; /* Bordure */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    width: 30%; /* Largeur de chaque boîte */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
    transition: transform 0.3s; /* Transition douce pour l'effet au survol */
    margin:20px;
}
#i1{
    background: linear-gradient(to right, #1D529D, #120C1F);
}
#i2{
    background: linear-gradient(to right, #792A95,#120C1F);
}
#i3{
    background: linear-gradient(to right, #922556, #120C1F);
}
/* Effet d'agrandissement au survol des boîtes */
.box:hover {
    transform: scale(1.05); /* Agrandir légèrement au survol */
}

/* Style pour le bouton */
.subscribe {
    background-color: #007bff; /* Couleur du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Supprime la bordure */
    border-radius: 7px; /* Coins arrondis du bouton */
    padding: 10px 15px; /* Espacement interne du bouton */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s; /* Transition douce pour le changement de couleur */
    bottom:0px;
    position: relative;
}

/* Changement de couleur au survol du bouton */
.subscribe:hover {
    background-color: #0056b3; /* Couleur plus foncée au survol */
}





#link_title{
    text-decoration-line: none;
    color:#790B14;
    font-weight: bold;
    font-size:40px ;
    position:relative;
    right: 120px;
    bottom: 10px;

}
